# Environment variables for admin login
ADMIN_EMAIL=your-admin-email@example.com
ADMIN_PASSWORD=your-admin-password
ADMIN_SESSION_SECRET=replace-with-a-secure-random-secret

# Environment variable for API URL
NEXT_PUBLIC_API_URL=http://localhost:5000/api

# Environment variables for WhatsApp chat support(frontend)
NEXT_PUBLIC_WHATSAPP_NUMBER=233XXXXXXXXX
NEXT_PUBLIC_WHATSAPP_MESSAGE="Hello THE SUITE, I need help with my booking."
